{% extends'base.html.twig' %}

{% block body %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}


    {{ form_label(form.lastName) }}
    {{ form_widget(form.lastName) }}

    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}

    {{ form_label(form.password) }}
    {{ form_widget(form.password) }}

    <button type="submit">envoie</button>
    {{ form_end(form) }}

{% endblock %}
