{% extends'base.html.twig' %}

{% block body %}
    {% if mode_ouverture == 'create' %}
    <h5 class="inscription_title">Création de figure</h5>
    {% else %}
    <h5 class="inscription_title">Modificationk</h5>
    {% endif %}
    <div class="card" style="width: 25rem;" id="card_css">
        <div class="container-inscription-card-content">
        {{ form_start(form) }}
                <div class="form-group">
                    <div class="label d-flex justify-content-center">{{ form_label(form.name) }}</div>
                    <div class="input">{{ form_widget(form.name) }}</div>
                    <div class="error">{{ form_errors(form.name) }}</div>
                </div>
                <div class="form-group">
                    <div class="label d-flex justify-content-center">{{ form_label(form.description) }}</div>
                    <div class="input">{{ form_widget(form.description) }}</div>
                    <div class="error">{{ form_errors(form.description) }}</div>
                </div>
                <div class="form-group" style="margin-bottom: 10%">
                    <div class="label d-flex justify-content-center">{{ form_label(form.category) }}</div>
                    <div class="input">{{ form_widget(form.category) }}</div>
                    <div class="error">{{ form_errors(form.category) }}</div>
                </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <ul class="picture-container"
                            data-index="{{ form.picture|length > 0 ? form.picture|last.vars.name + 1 : 0 }}"
                            data-prototype="{{ form_widget(form.picture.vars.prototype)|e('html_attr') }}"
                        >
                            {% for picture in form.picture %}
                                <li>{{ form_row(picture.imageFile) }}</li>
                            {% endfor %}
                            <button type="button" class="btn btn-outline-dark btn-sm add_item_link" data-collection-holder-class="picture-container">Ajouter une image</button>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <a class="btn btn-outline-dark btn-sm" data-toggle="collapse" data-target="#collapse_mainImage" href="#collapse_mainImage" aria-expanded="true" aria-controls="collapse_mainImage" style="margin-top: 7%">Image principal</a>

                    <div class="collapse" id="collapse_mainImage">
                        <div class="input">{{ form_widget(form.imageFile) }}</div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <ul class="videos-container"
                            data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
                            data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"
                        >
                            {% for video in form.videos %}
                                <li>{{ form_row(video.name) }}</li>
                            {% endfor %}
                            <button type="button" class="btn btn-outline-dark btn-sm add_item_link" data-collection-holder-class="videos-container">Ajouter une video</button>
                        </ul>
                    </div>
                </div>
            </div>

                <div class="form-group">
                    <div class="label d-flex justify-content-center">
                        {% if mode_ouverture == 'create' %}
                        <button type="submit" class="btn btn-dark">Créer</button>
                        {% else %}
                        <button type="submit" class="btn btn-dark">Mettre à jour</button>
                        {% endif %}
                    </div>
                </div>
        {#{{ form_row(form.picture) }}#}
        {#<button type="button">crée</button>#}
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        const addTagFormDeleteLink = (item) => {
            const removeFormButton = document.createElement('button');
            removeFormButton.innerText = 'Supprimer';

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the tag form
                item.remove();
            });
        };

        const addFormToCollection = (e) => {
        const collectionHolder = document.querySelector(`.${e.currentTarget.dataset.collectionHolderClass}`);
        const item = document.createElement('li');

        item.innerHTML = collectionHolder
        .dataset
        .prototype
        .replace(
        /__name__/g,
        collectionHolder.dataset.index
        );
        addTagFormDeleteLink(item);
        collectionHolder.appendChild(item);
        collectionHolder.dataset.index++;
        };

        document
            .querySelectorAll('ul.tags li')
            .forEach((tag) => {
                addTagFormDeleteLink(tag)
            });

        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });
    </script>
{% endblock %}
